In [13]:
import pandas as pd

# Load the HPI CSV file into a DataFrame
df = pd.read_csv("Home Price Index Recent Download\hpi_master.csv")
print("Original DataFrame shape:", df.shape)
df.head()

Original DataFrame shape: (128142, 10)

,hpi_type,hpi_flavor,frequency,level,place_name,place_id,yr,period,index_nsa,index_sa
0,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,1,100.00,100.00
1,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,2,100.90,100.94
2,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,3,101.29,100.90
3,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,4,101.69,100.97
4,traditional,purchase-only,monthly,USA or Census Division,East North Central Division,DV_ENC,1991,5,102.31,101.32

In [14]:
# Set Average Interest Rates based on the freddiemac PMMS website (https://www.freddiemac.com/pmms)
rates_df = pd.read_excel("Home Price Index Recent Download\historicalweeklydata.xlsx",skiprows=6)
num_rows = rates_df.shape[0]
average_interest_rate = rates_df.iloc[num_rows-2,1]
print("Latest Average 30 year mortage interest rate is:", str(average_interest_rate)+"%")

Latest Average 30 year mortage interest rate is: 6.63%

In [15]:
# Load the Zillow CSV, keeping only RegionName and "1/31/2025"
df_zillow = pd.read_csv("Home Price Index Recent Download\State_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv", usecols=["RegionName", "2025-01-31"])

# Rename columns:
#   "1/31/2025" to "Typical Home Value as of 01/31/2024"
#   "RegionName" to "State_merge" so the original "State" column in inflation_pivot remains intact
df_zillow.rename(columns={
    "2025-01-31": "Typical Home Value as of 01/31/2024",
    "RegionName": "State_merge"
}, inplace=True)

#Data showing hoe values for latest month
display(df_zillow.head())

    State_merge  Typical Home Value as of 01/31/2024
0    California                        773347.013436
1         Texas                        298510.934462
2       Florida                        385540.771612
3      New York                        477332.960271
4  Pennsylvania                        265021.074573

In [16]:
# Filter the HPI DataFrame to include rows where:
#    - level == "State"
#    - hpi_type == "traditional"
#    - hpi_flavor == "all-transactions"
#    - yr >= 2019 and yr <= 2024 (so we have 2019 Q4 baseline for Q1 2020 inflation)
df_filtered = df[
    (df["level"] == "State") &
    (df["hpi_type"] == "traditional") &
    (df["hpi_flavor"] == "all-transactions") &
    (df["yr"] >= 2019) &
    (df["yr"] <= 2024)
]

# Rename columns: "place_name" -> "State" and "period" -> "qtr"
df_filtered.rename(columns={"place_name": "State", "period": "qtr"}, inplace=True)

print("Filtered DataFrame shape:", df_filtered.shape)
df_filtered.head()

Filtered DataFrame shape: (1224, 10)

C:\Users\16823\AppData\Local\Temp\ipykernel_26936\2859956643.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered.rename(columns={"place_name": "State", "period": "qtr"}, inplace=True)

,hpi_type,hpi_flavor,frequency,level,State,place_id,yr,qtr,index_nsa,index_sa
71619,traditional,all-transactions,quarterly,State,Alaska,AK,2019,1,324.20,NaN
71620,traditional,all-transactions,quarterly,State,Alaska,AK,2019,2,328.23,NaN
71621,traditional,all-transactions,quarterly,State,Alaska,AK,2019,3,330.40,NaN
71622,traditional,all-transactions,quarterly,State,Alaska,AK,2019,4,330.12,NaN
71623,traditional,all-transactions,quarterly,State,Alaska,AK,2020,1,334.08,NaN

In [17]:
# Remove the column "index_sa"
df_filtered = df_filtered.drop(columns=["index_sa"], errors="ignore")

# Create a combined "year_quarter" column
df_filtered["year_quarter"] = df_filtered["yr"].astype(str) + "-Q" + df_filtered["qtr"].astype(str)

# Pivot the DataFrame so that:
#    - Rows: State
#    - Columns: year_quarter (e.g., 2020-Q1, 2020-Q2, etc.)
#    - Values: index_nsa
df_pivot = df_filtered.pivot(index="State", columns="year_quarter", values="index_nsa")

df_pivot.head()

year_quarter,2019-Q1,2019-Q2,2019-Q3,2019-Q4,2020-Q1,2020-Q2,2020-Q3,2020-Q4,2021-Q1,2021-Q2,...,2022-Q3,2022-Q4,2023-Q1,2023-Q2,2023-Q3,2023-Q4,2024-Q1,2024-Q2,2024-Q3,2024-Q4
State,,,,,,,,,,,,,,,,,,,,,
Alabama,322.18,326.71,331.46,335.36,339.24,344.14,350.74,358.16,365.59,382.64,...,470.85,471.38,476.51,485.75,496.88,494.24,502.48,515.15,521.27,526.58
Alaska,324.20,328.23,330.40,330.12,334.08,337.16,341.45,344.32,348.06,361.06,...,420.30,414.18,425.83,437.79,439.08,435.76,444.06,460.94,466.19,463.78
Arizona,412.55,420.77,427.10,434.47,443.17,450.93,461.94,478.24,499.55,539.36,...,700.96,676.54,671.61,682.99,697.85,705.54,708.88,722.09,728.74,727.74
Arkansas,286.49,289.85,293.14,295.54,297.31,299.99,304.47,311.94,317.66,333.49,...,414.80,414.39,421.51,431.63,439.30,443.03,445.94,456.00,464.28,465.56
California,645.68,652.26,659.16,663.45,669.69,677.37,685.31,699.46,719.04,761.72,...,915.45,891.69,888.87,911.51,923.45,926.65,941.18,956.39,965.29,968.88

In [18]:
# Calculate quarter-over-quarter inflation for Q1 2020 to Q4 2024
# Inflation formula for a given quarter col:
# inflation = (index_nsa_current_quarter / index_nsa_previous_quarter) * 100
# Create a new DataFrame, inflation_pivot, with the same row index (State).

def get_previous_quarter(yq):
    """
    Given a string like '2020-Q1', return the previous quarter (e.g. '2019-Q4').
    """
    year_str, quarter_str = yq.split("-Q")
    year = int(year_str)
    quarter = int(quarter_str)
    
    if quarter == 1:
        year -= 1
        quarter = 4
    else:
        quarter -= 1
    
    return f"{year}-Q{quarter}"

# Build a list of quarters from 2020-Q1 to 2024-Q4
inflation_quarters = []
for yr in range(2020, 2025):  # up to 2024 inclusive
    for qtr in range(1, 5):
        # Stop if we go beyond 2024-Q4
        if yr == 2024 and qtr > 4:
            break
        inflation_quarters.append(f"{yr}-Q{qtr}")

# Create a new pivot table for inflation
inflation_pivot = pd.DataFrame(index=df_pivot.index, columns=inflation_quarters)

#So far we now have a blank data frame with rows as states and columns as the years from 2020 Q1 to 2024 Q4.
#This is also saved in a list called inflation_quarters


for col in inflation_quarters:
    prev_col = get_previous_quarter(col)
    # Calculate inflation only if both current and previous columns exist
    #This will start with comparing 2020 Q1 to 2019 Q4
    if col in df_pivot.columns and prev_col in df_pivot.columns:
        inflation_pivot[col] = ((df_pivot[col] / df_pivot[prev_col]) * 100) - 100
    else:
        # If the previous quarter is missing then blank
        inflation_pivot[col] = pd.NA

# Round to two decimals
inflation_pivot = inflation_pivot.round(2)
inflation_pivot.head()

,2020-Q1,2020-Q2,2020-Q3,2020-Q4,2021-Q1,2021-Q2,2021-Q3,2021-Q4,2022-Q1,2022-Q2,2022-Q3,2022-Q4,2023-Q1,2023-Q2,2023-Q3,2023-Q4,2024-Q1,2024-Q2,2024-Q3,2024-Q4
State,,,,,,,,,,,,,,,,,,,,
Alabama,1.16,1.44,1.92,2.12,2.07,4.66,5.68,4.09,2.86,5.67,2.92,0.11,1.09,1.94,2.29,-0.53,1.67,2.52,1.19,1.02
Alaska,1.20,0.92,1.27,0.84,1.09,3.73,4.54,1.45,2.63,5.76,1.12,-1.46,2.81,2.81,0.29,-0.76,1.90,3.80,1.14,-0.52
Arizona,2.00,1.75,2.44,3.53,4.46,7.97,8.30,5.10,4.78,7.53,1.34,-3.48,-0.73,1.69,2.18,1.10,0.47,1.86,0.92,-0.14
Arkansas,0.60,0.90,1.49,2.45,1.83,4.98,5.62,4.34,2.79,6.17,3.43,-0.10,1.72,2.40,1.78,0.85,0.66,2.26,1.82,0.28
California,0.94,1.15,1.17,2.06,2.80,5.94,5.21,4.05,4.07,6.14,-0.62,-2.60,-0.32,2.55,1.31,0.35,1.57,1.62,0.93,0.37

In [19]:
# Now I add two calculated columns to the inflation data to measure 2024 Inflation and overall cumulative inflation from 2020 to 2024

# Create "Inflation 2024" columns which is (2024 Q4 / 2023 Q4) * 100
if "2024-Q4" in df_pivot.columns and "2023-Q4" in df_pivot.columns:
    inflation_pivot["Inflation 2024 %"] = (
        (df_pivot["2024-Q4"] / df_pivot["2023-Q1"] * 100) - 100
    ).round(2)
else:
    inflation_pivot["Inflation 2024 %"] = pd.NA

# Create "Cumulative Inflation 2020-2024" column which is (2020 Q1 / 2024 Q4) * 100
if "2020-Q1" in df_pivot.columns and "2024-Q4" in df_pivot.columns:
    inflation_pivot["Cumulative Inflation 2020-2024 %"] = (
        (df_pivot["2024-Q4"] / df_pivot["2020-Q1"] * 100)-100
    ).round(2)
else:
    inflation_pivot["Cumulative Inflation 2020-2024 %"] = pd.NA

inflation_pivot.head()

,2020-Q1,2020-Q2,2020-Q3,2020-Q4,2021-Q1,2021-Q2,2021-Q3,2021-Q4,2022-Q1,2022-Q2,...,2023-Q1,2023-Q2,2023-Q3,2023-Q4,2024-Q1,2024-Q2,2024-Q3,2024-Q4,Inflation 2024 %,Cumulative Inflation 2020-2024 %
State,,,,,,,,,,,,,,,,,,,,,
Alabama,1.16,1.44,1.92,2.12,2.07,4.66,5.68,4.09,2.86,5.67,...,1.09,1.94,2.29,-0.53,1.67,2.52,1.19,1.02,10.51,55.22
Alaska,1.20,0.92,1.27,0.84,1.09,3.73,4.54,1.45,2.63,5.76,...,2.81,2.81,0.29,-0.76,1.90,3.80,1.14,-0.52,8.91,38.82
Arizona,2.00,1.75,2.44,3.53,4.46,7.97,8.30,5.10,4.78,7.53,...,-0.73,1.69,2.18,1.10,0.47,1.86,0.92,-0.14,8.36,64.21
Arkansas,0.60,0.90,1.49,2.45,1.83,4.98,5.62,4.34,2.79,6.17,...,1.72,2.40,1.78,0.85,0.66,2.26,1.82,0.28,10.45,56.59
California,0.94,1.15,1.17,2.06,2.80,5.94,5.21,4.05,4.07,6.14,...,-0.32,2.55,1.31,0.35,1.57,1.62,0.93,0.37,9.00,44.68

In [20]:
#Add columns from the Zillow file

# Before merging, convert the pivot index to a column named "State"
inflation_pivot = inflation_pivot.reset_index()

# Merge inflation_pivot with the Zillow data on the "State" column
df_merged = pd.merge(
    inflation_pivot,
    df_zillow,
    how="left",
    left_on="State",
    right_on="State_merge"
)

# Drop the extra "State_merge" column
df_merged.drop(columns=["State_merge"], inplace=True)

df_merged["Typical Home Value as of 01/31/2024"] = df_merged["Typical Home Value as of 01/31/2024"].round(2)

# Add the constant column for average interest rate (6.63)
df_merged["Average Interest Rate (30 Yr Mortgage)"] = average_interest_rate

print("After merge:")
display(df_merged.head())

# Update inflation_pivot with the merged results
inflation_pivot = df_merged

After merge:

,State,2020-Q1,2020-Q2,2020-Q3,2020-Q4,2021-Q1,2021-Q2,2021-Q3,2021-Q4,2022-Q1,...,2023-Q3,2023-Q4,2024-Q1,2024-Q2,2024-Q3,2024-Q4,Inflation 2024 %,Cumulative Inflation 2020-2024 %,Typical Home Value as of 01/31/2024,Average Interest Rate (30 Yr Mortgage)
0,Alabama,1.16,1.44,1.92,2.12,2.07,4.66,5.68,4.09,2.86,...,2.29,-0.53,1.67,2.52,1.19,1.02,10.51,55.22,224910.79,6.63
1,Alaska,1.20,0.92,1.27,0.84,1.09,3.73,4.54,1.45,2.63,...,0.29,-0.76,1.90,3.80,1.14,-0.52,8.91,38.82,366633.08,6.63
2,Arizona,2.00,1.75,2.44,3.53,4.46,7.97,8.30,5.10,4.78,...,2.18,1.10,0.47,1.86,0.92,-0.14,8.36,64.21,424841.80,6.63
3,Arkansas,0.60,0.90,1.49,2.45,1.83,4.98,5.62,4.34,2.79,...,1.78,0.85,0.66,2.26,1.82,0.28,10.45,56.59,208999.63,6.63
4,California,0.94,1.15,1.17,2.06,2.80,5.94,5.21,4.05,4.07,...,1.31,0.35,1.57,1.62,0.93,0.37,9.00,44.68,773347.01,6.63

In [21]:
# I now create 5 new columns all intended to guide the users decision to buy an investment home in a particlar state
# Column 1: Down Payment
# Column 2: Monthly loan payment
# Column 3: Average Rent in state
# Column 4: Potential Monthly Payoff
# Column 5: Average Rent Yield

# Ensure the Typical Home Value column is numeric and round it to two decimals
inflation_pivot["Typical Home Value as of 01/31/2024"] = pd.to_numeric(
    inflation_pivot["Typical Home Value as of 01/31/2024"], errors="coerce"
).round(2)

# Column 1: Down Payment = 20% of Typical Home Value
inflation_pivot["Down Payment"] = (inflation_pivot["Typical Home Value as of 01/31/2024"] * 0.20).round(2)

# Compute the loan amount (principal) as Typical Home Value minus Down Payment
loan_amount = inflation_pivot["Typical Home Value as of 01/31/2024"] - inflation_pivot["Down Payment"]

# Column 2: Monthly Payment using the PMT formula for a 30-year loan which is amortized with fixed payments over that period
# PMT = (r * PV) / (1 - (1 + r)^(-n))
# where r = monthly interest rate, n = 360 months
inflation_pivot["Average Interest Rate (30 Yr Mortgage)"] = pd.to_numeric(
    inflation_pivot["Average Interest Rate (30 Yr Mortgage)"], errors="coerce"
)
monthly_rate = (inflation_pivot["Average Interest Rate (30 Yr Mortgage)"] / 100) / 12
n_periods = 360
inflation_pivot["Monthly Payment"] = (monthly_rate * loan_amount) / (1 - (1 + monthly_rate) ** (-n_periods))
inflation_pivot["Monthly Payment"] = inflation_pivot["Monthly Payment"].round(2)

# Column 3: Average Rent
# Read the average rent file which has "State" and "Average Rent" columns
df_rent = pd.read_excel("Home Price Index Recent Download/Average Rent by State.xlsx")
df_rent = df_rent[["State", "Average Rent"]]
# Merge the average rent data into merged_df on "State"
merged_df = pd.merge(inflation_pivot, df_rent, on="State", how="left")

# Column 4: Potential Monthly Payoff = Monthly Payment + Average Rent
merged_df["Potential Monthly Payoff"] = (merged_df["Average Rent"]-merged_df["Monthly Payment"]).round(2)

# Column 5: Average Rent Yield = (Potential Monthly Payoff / (Typical Home Value - Down Payment)) * 100
merged_df["Average Rent Yield"] = ((merged_df["Average Rent"] / loan_amount) * 100).round(2)

# Format the monetary columns as dollars (convert to string with dollar sign)
merged_df["Typical Home Value as of 01/31/2024"] = merged_df["Typical Home Value as of 01/31/2024"].apply(lambda x: f"${x:,.2f}")
merged_df["Down Payment"] = merged_df["Down Payment"].apply(lambda x: f"${x:,.2f}")

print("Added calculated columns")
merged_df

Added calculated columns

,State,2020-Q1,2020-Q2,2020-Q3,2020-Q4,2021-Q1,2021-Q2,2021-Q3,2021-Q4,2022-Q1,...,2024-Q4,Inflation 2024 %,Cumulative Inflation 2020-2024 %,Typical Home Value as of 01/31/2024,Average Interest Rate (30 Yr Mortgage),Down Payment,Monthly Payment,Average Rent,Potential Monthly Payoff,Average Rent Yield
0,Alabama,1.16,1.44,1.92,2.12,2.07,4.66,5.68,4.09,2.86,...,1.02,10.51,55.22,"$224,910.79",6.63,"$44,982.16",1152.70,1416.8,264.10,0.79
1,Alaska,1.20,0.92,1.27,0.84,1.09,3.73,4.54,1.45,2.63,...,-0.52,8.91,38.82,"$366,633.08",6.63,"$73,326.62",1879.04,1630.2,-248.84,0.56
2,Arizona,2.00,1.75,2.44,3.53,4.46,7.97,8.30,5.10,4.78,...,-0.14,8.36,64.21,"$424,841.80",6.63,"$84,968.36",2177.37,1732.5,-444.87,0.51
3,Arkansas,0.60,0.90,1.49,2.45,1.83,4.98,5.62,4.34,2.79,...,0.28,10.45,56.59,"$208,999.63",6.63,"$41,799.93",1071.15,1202.3,131.15,0.72
4,California,0.94,1.15,1.17,2.06,2.80,5.94,5.21,4.05,4.07,...,0.37,9.00,44.68,"$773,347.01",6.63,"$154,669.40",3963.51,2845.7,-1117.81,0.46
5,Colorado,1.09,1.18,1.58,2.05,2.69,7.19,5.93,2.84,4.14,...,-0.13,5.75,44.62,"$540,789.12",6.63,"$108,157.82",2771.62,2072.4,-699.22,0.48
6,Connecticut,0.38,1.05,2.22,2.72,2.62,5.14,5.42,2.05,2.70,...,1.01,18.16,63.03,"$404,161.82",6.63,"$80,832.36",2071.38,2248.4,177.02,0.70
7,Delaware,1.34,0.68,2.19,1.47,3.11,4.19,4.77,3.57,3.00,...,-0.13,11.74,53.17,"$380,840.16",6.63,"$76,168.03",1951.86,1810.6,-141.26,0.59
8,District of Columbia,0.86,0.22,1.17,2.20,1.06,4.19,2.38,0.88,2.50,...,-0.93,1.11,15.37,"$594,940.94",6.63,"$118,988.19",3049.15,2721.4,-327.75,0.57
9,Florida,1.53,1.27,1.74,2.67,3.25,6.55,7.39,5.63,5.65,...,0.94,8.74,70.92,"$385,540.77",6.63,"$77,108.15",1975.95,2150.5,174.55,0.70
10,Georgia,1.53,1.05,1.98,2.08,2.98,5.72,6.05,5.12,4.90,...,0.24,10.56,64.80,"$324,673.79",6.63,"$64,934.76",1664.00,1768.8,104.80,0.68
11,Hawaii,0.00,1.26,-1.01,1.63,1.42,5.17,4.05,4.83,5.01,...,-12.23,-3.74,29.39,"$831,305.17",6.63,"$166,261.03",4260.55,2934.8,-1325.75,0.44
12,Idaho,2.22,1.90,3.88,4.66,5.41,10.64,8.23,3.43,3.51,...,-0.66,6.12,64.60,"$451,467.16",6.63,"$90,293.43",2313.83,1767.7,-546.13,0.49
13,Illinois,0.44,0.56,1.06,1.25,1.19,4.50,3.50,2.29,2.65,...,0.22,14.69,45.14,"$266,319.54",6.63,"$53,263.91",1364.92,2138.4,773.48,1.00
14,Indiana,1.14,1.15,2.19,2.42,2.02,5.82,4.91,3.40,2.95,...,0.66,13.49,57.28,"$237,553.53",6.63,"$47,510.71",1217.49,1422.3,204.81,0.75
15,Iowa,0.68,0.53,0.98,1.53,1.03,4.83,4.23,2.01,2.04,...,-0.06,10.09,42.16,"$214,551.01",6.63,"$42,910.20",1099.60,1342.0,242.40,0.78
16,Kansas,1.38,0.93,2.18,1.98,1.77,5.77,4.39,1.77,3.31,...,0.45,13.72,51.83,"$224,903.23",6.63,"$44,980.65",1152.66,1367.3,214.64,0.76
17,Kentucky,1.17,1.11,1.78,1.99,1.89,4.54,5.05,3.21,2.71,...,0.38,12.19,53.26,"$208,456.05",6.63,"$41,691.21",1068.36,1415.7,347.34,0.85
18,Louisiana,0.98,0.94,0.76,1.26,1.21,2.76,3.32,2.30,2.54,...,0.06,2.69,24.28,"$196,979.14",6.63,"$39,395.83",1009.54,1358.5,348.96,0.86
19,Maine,0.93,1.53,2.24,3.69,2.99,6.29,7.01,3.13,3.52,...,0.48,15.22,73.11,"$391,296.89",6.63,"$78,259.38",2005.45,2168.1,162.65,0.69
20,Maryland,1.08,0.93,1.29,1.84,2.27,4.67,4.02,2.19,2.77,...,0.73,10.97,42.30,"$418,666.21",6.63,"$83,733.24",2145.72,2044.9,-100.82,0.61
21,Massachusetts,1.05,1.03,1.77,2.01,2.19,5.35,5.24,2.27,2.54,...,0.57,12.97,51.33,"$619,673.11",6.63,"$123,934.62",3175.91,3120.7,-55.21,0.63
22,Michigan,0.95,1.06,2.21,2.07,2.13,5.56,5.18,2.17,2.71,...,-0.23,14.45,53.53,"$241,804.07",6.63,"$48,360.81",1239.28,1480.6,241.32,0.77
23,Minnesota,0.96,0.81,2.09,1.82,1.55,5.32,4.81,1.71,2.23,...,-0.23,8.78,39.49,"$329,294.78",6.63,"$65,858.96",1687.68,1713.8,26.12,0.65
24,Mississippi,1.43,0.15,1.54,1.76,1.41,3.59,5.51,2.93,2.78,...,0.46,10.38,45.09,"$177,426.84",6.63,"$35,485.37",909.34,1435.5,526.16,1.01
25,Missouri,1.14,0.72,1.91,1.97,2.01,6.13,4.37,2.91,3.47,...,0.73,12.37,54.26,"$244,097.82",6.63,"$48,819.56",1251.03,1400.3,149.27,0.72
26,Montana,1.42,0.18,2.83,3.31,3.19,8.03,7.29,4.63,4.22,...,0.91,11.43,69.24,"$449,271.61",6.63,"$89,854.32",2302.58,1765.5,-537.08,0.49
27,Nebraska,1.23,0.78,1.33,2.00,1.76,5.86,4.90,2.25,2.45,...,1.11,10.69,50.85,"$256,901.05",6.63,"$51,380.21",1316.65,1413.5,96.85,0.69
28,Nevada,1.07,1.26,1.46,2.27,3.59,6.47,7.72,4.37,4.04,...,0.88,9.95,52.18,"$441,190.12",6.63,"$88,238.02",2261.16,1677.5,-583.66,0.48
29,New Hampshire,1.33,1.51,2.35,2.89,2.98,6.06,5.97,3.08,2.93,...,0.13,15.91,68.36,"$475,695.27",6.63,"$95,139.05",2438.00,2323.2,-114.80,0.61
30,New Jersey,0.88,0.96,1.76,2.12,2.45,4.78,4.87,3.22,3.10,...,1.25,18.47,63.35,"$540,657.79",6.63,"$108,131.56",2770.94,2570.7,-200.24,0.59
31,New Mexico,1.52,1.12,2.03,2.15,2.82,4.13,5.66,3.48,3.20,...,1.32,11.32,54.64,"$301,607.41",6.63,"$60,321.48",1545.78,1527.9,-17.88,0.63
32,New York,0.93,0.83,1.64,2.19,2.36,3.60,5.01,2.26,2.55,...,0.57,15.93,52.60,"$477,332.96",6.63,"$95,466.59",2446.39,3012.9,566.51,0.79
33,North Carolina,1.49,0.86,1.90,2.46,2.52,5.93,6.71,4.53,4.88,...,0.39,11.11,67.15,"$327,214.88",6.63,"$65,442.98",1677.02,1676.4,-0.62,0.64
34,North Dakota,0.41,-0.22,1.51,1.23,0.12,2.70,3.83,2.04,1.18,...,-0.11,8.93,31.95,"$264,677.49",6.63,"$52,935.50",1356.51,1184.7,-171.81,0.56
35,Ohio,1.44,0.98,2.34,2.38,1.89,5.04,5.09,2.39,3.04,...,0.71,14.73,56.49,"$226,001.50",6.63,"$45,200.30",1158.29,1406.9,248.61,0.78
36,Oklahoma,1.54,0.76,1.43,1.93,1.88,4.59,5.17,3.11,3.57,...,0.31,9.58,49.51,"$204,154.73",6.63,"$40,830.95",1046.32,1138.5,92.18,0.70
37,Oregon,0.97,1.28,1.75,2.72,3.34,6.61,6.13,2.68,3.19,...,0.02,5.35,40.83,"$490,183.75",6.63,"$98,036.75",2512.26,1932.7,-579.56,0.49
38,Pennsylvania,1.30,0.88,2.08,1.74,2.43,4.44,4.81,2.14,2.80,...,0.46,12.34,49.91,"$265,021.07",6.63,"$53,004.21",1358.27,1903.0,544.73,0.90
39,Rhode Island,0.88,1.27,1.98,2.98,2.74,6.16,6.30,2.80,2.83,...,0.63,17.57,67.01,"$463,372.37",6.63,"$92,674.47",2374.84,2341.9,-32.94,0.63
40,South Carolina,1.45,0.77,1.75,2.00,2.32,5.69,5.63,4.65,4.65,...,1.50,13.49,66.43,"$294,248.99",6.63,"$58,849.80",1508.07,1753.4,245.33,0.74
41,South Dakota,1.30,0.45,1.38,2.52,1.30,6.79,5.58,3.78,3.13,...,0.76,9.28,52.98,"$301,073.13",6.63,"$60,214.63",1543.04,1239.7,-303.34,0.51
42,Tennessee,1.49,1.12,2.14,2.44,2.87,6.25,6.70,5.19,5.08,...,0.74,10.15,67.83,"$318,456.50",6.63,"$63,691.30",1632.13,1643.4,11.27,0.65
43,Texas,1.08,0.74,1.53,2.28,2.38,5.83,6.36,4.12,4.67,...,0.82,5.88,50.86,"$298,510.93",6.63,"$59,702.19",1529.91,1593.9,63.99,0.67
44,Utah,1.32,1.81,2.41,3.49,4.09,9.71,7.68,3.77,4.75,...,0.42,7.51,59.57,"$517,331.29",6.63,"$103,466.26",2651.39,1756.7,-894.69,0.42
45,Vermont,1.28,0.57,2.40,2.65,2.56,4.45,6.55,3.01,3.01,...,-0.35,17.35,68.29,"$385,136.45",6.63,"$77,027.29",1973.88,2367.2,393.32,0.77
46,Virginia,1.09,1.11,1.70,1.84,2.10,4.61,4.63,2.38,3.13,...,0.69,12.90,52.04,"$391,589.91",6.63,"$78,317.98",2006.95,2169.2,162.25,0.69
47,Washington,1.72,1.52,2.29,2.65,3.00,7.58,5.87,3.31,4.34,...,0.04,8.14,49.45,"$589,598.51",6.63,"$117,919.70",3021.77,2222.0,-799.77,0.47
48,West Virginia,0.40,1.08,1.90,1.19,1.83,2.61,5.27,2.73,1.31,...,2.23,13.68,45.68,"$163,433.97",6.63,"$32,686.79",837.62,1402.5,564.88,1.07
49,Wisconsin,0.81,0.74,1.92,2.03,1.41,5.40,4.99,2.23,2.67,...,-0.05,15.31,56.81,"$304,676.49",6.63,"$60,935.30",1561.51,1702.8,141.29,0.70
50,Wyoming,0.90,0.56,1.44,2.20,1.62,3.87,6.32,3.44,2.48,...,-0.02,8.98,45.85,"$350,224.42",6.63,"$70,044.88",1794.95,1465.2,-329.75,0.52

In [22]:
# Save all results to "processed.xlsx" with three sheets
with pd.ExcelWriter("Real_Estate_Trends_USA.xlsx") as writer:
    # Sheet 1: Filtered data (raw)
    df_filtered.to_excel(writer, sheet_name="Raw_Data", index=False)
    
    # Sheet 2: Pivot of index_nsa
    df_pivot.to_excel(writer, sheet_name="HPI_2019_to_2024")
    
    # Sheet 3: All inflation data
    merged_df.to_excel(writer, sheet_name="inflation_data", index=False)

print("Data saved to 'processed.xlsx' with sheets: 'Filtered', 'Pivot', and 'inflation'.")

Data saved to 'processed.xlsx' with sheets: 'Filtered', 'Pivot', and 'inflation'.

In [23]:
'''
Appendix:
These are all the data sources I used to get the actual data

Sources Used:
Data is sourced from
https://www.fhfa.gov/data/hpi/datasets?tab=master-hpi-data
https://www.redfin.com/news/data-center/
https://www.freddiemac.com/pmms
https://www.zillow.com/research/data/
https://worldpopulationreview.com/state-rankings/average-rent-by-state

'''

'\nAppendix:\nThese are all the data sources I used to get the actual data\n\nSources Used:\nData is sourced from\nhttps://www.fhfa.gov/data/hpi/datasets?tab=master-hpi-data\nhttps://www.redfin.com/news/data-center/\nhttps://www.freddiemac.com/pmms\nhttps://www.zillow.com/research/data/\nhttps://worldpopulationreview.com/state-rankings/average-rent-by-state\n\n'